.vs/
.vscode/

Build/
Generated/

node_modules/

*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log

# Tools
Tools/Asset_Downloader/Audio
Tools/Asset_Downloader/Models
Tools/Asset_Downloader/Sprites

Tools/Audio_Converter/Output


